@import "compass";
html {-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape on iOS while allowing user zoom */}
body {background-color:#34495e; background-position:top center; background-attachment:fixed; background-size:cover; background-repeat:no-repeat;}

#occlogo {text-indent:-1000em;}
.headernav {height:auto;}
.headernav .menu-opener, .menu-closer {display:none;} /* hide for desktop view */
.headernav .formbox {width:auto; margin:0;}
.headernav .searchbox {display:inline-block; width:80%; height:30px; padding:6px 0 4px 10px; background:#111; font-style:italic; color:#aaa; font-size:1em; }
.headernav .submitbutton {display:inline-block; width:45px; height:42px; top:-2px; text-indent:-1000em; background:transparent url(../images/icon-search-white.svg) center center no-repeat; background-size:20px; border-width:1px 1px 1px 0;}
.headernav .submitbutton {background-color:#111;}
.mac .headernav .submitbutton {top:-3px;} /* mac browsers calculate this different than windows, I'm using modernizr to detect for Mac */
.iphone .headernav .submitbutton {top:-3px;} /* ios calculates this different too */
.ie8 .headernav .submitbutton, .ie7 .headernav .submitbutton {top:0px; text-indent:0; background-image:none; color:#FFF; border:0; margin-left:3px;}
.ie8 #peoplesearchbox, .ie7 #peoplesearchbox {border-width:1px; font-size:.8em;}


.homebutton {color:#008bc0; display:inline-block; margin:.5em 0 0 6em; font-size:1.2em;}
.headernav .homebutton:hover {background:none;}
#home .homebutton {display:none;}  

.main {background:none; margin-top:-1px;}
#index .main {background:#FFF; box-shadow:0 0 20px rgba(0,0,0,.65);}

.sitetitle {margin:2em 0 0 .25em; color:#FFF; font-size:2.2em; text-shadow:0 1px 2px rgba(0,0,0,.5);}
#menutitle {color:#FFF; text-shadow:0 1px 2px rgba(0,0,0,.5); font-size:2em; margin-top:1em;}

.toolbar {width:660px; margin:2em 0 0 0; float:left; margin-bottom:2em; background:#000; border-bottom:1px solid #FFF; box-shadow:0 1px 3px rgba(0,0,0,.65);}
  .toolbar ul {list-style:none; padding:0; margin:0; width:260px; font-size:.965em; float:left;}
  .toolbar .annotated {width:400px;}
  .annotated span {display:block; font-style:italic; color:#ddd; color:rgba(255,255,255,.65); line-height:1.2; letter-spacing:0.5px; margin-top:-6px;}
  .toolbar li {margin:0; padding:0; line-height:1.75;}
  .toolbar a {color:#fff; background:#000; padding:.25em .5em .25em .5em; display:block; border:1px solid #FFF; border-color:rgba(255,255,255,.4); border-width:0 0 1px 0;}
  .toolbar a:hover {background:#555; text-decoration:none;}
  .toolbar .annotated a {background:#008bc0;}
  .toolbar .annotated a:hover {background:#047199;}

  .peoplesearch {background:#FFF; float:left; width:260px;}
  .peoplesearch form {height:35px;}
  .peoplesearch .submitbutton {display:inline-block; width:32px; height:32px; text-indent:-1000em; border:0; background:transparent url(../images/icon-search-blue.svg) no-repeat center center; margin-top:3px; background-size:20px;}
  .ie8 .peoplesearch .submitbutton, .ie7 .peoplesearch .submitbutton {text-indent:0; background:none;}
  #peoplesearchbox {float:left; width:200px; font-family:open sans, verdana; font-weight:200;font-size:.9em; border:0; color:#008bc0; margin:.25em 0 0 0; padding-left:.75em;}
  .peoplesearch a {font-size:.965em; display:block; color:#008bc0; line-height:1.75; padding:.25em .5em .25em .5em; background:#FFF; border:1px solid #000; border-color:rgba(0,0,0,.2); border-width:1px 0 1px 0; text-decoration:none;}
  .peoplesearch a:hover {background:#FFF; color:#000; text-decoration:none;}

.needtoknow {float:left; margin:0 0 0 10px;}
.needtoknow h4 {color:#FFF; margin-bottom:.5em; font-weight:200;}
.needtoknow ul {list-style:none; padding:0;}
.needtoknow .button {text-align:left;}

.js-drawer-set {margin-bottom:2em;}
.js-drawer-toggle {cursor:pointer;}
.js-drawer-toggle:hover {text-decoration:underline;}
.mobile-content {display:none;}
  .row {background:#fff; margin:1px 0 1px 0; padding-bottom:1em;}
    .view-all {display:inline-block;}
    .category h4 {padding:1em 0 1em 0; font-weight:200; margin:0;}
    .category h4, .category h4 a {color:#008bc0; display:block;}
    .category a {color:#222;}
    .category p {margin-bottom:.25em;}
    .category ul {list-style:none; padding:0; font-size:1em; margin-bottom:1em;}
    .category li {line-height:1; margin-bottom:1em; font-size:1.1em;}
    .news p a, .events p a {color:#222; display:block; padding:.25em; line-height:1.2;}
    .news p a:hover, .events p a:hover {text-decoration:none; background:#dcf5ff;}
    .closed {background:#000; background:rgba(0,0,0,.65); padding-bottom:0;}
    .closed h4 a, .closed h4 {color:#fff; font-weight:200;}
    .closed .js-drawer-content {display:none;}


@media all and (max-width:970px){
  .headernav .homebutton {margin:0 0 0 1em;}
  .headernav .searchbox {width:75%;}
  .toolbar {width:100%;}
  .toolbar ul, .toolbar .annotated, .toolbar .peoplesearch {width:50%;}
  
  .needtoknow li {display:inline-block;}

  #section, #section.hasmenu {padding:.5em; width:96%;}

  .headernav .menu-opener {display:inline-block; color:#FFF; background:#003151; border:1px solid rgba(255,255,255,.3); border-radius:3px; text-transform:uppercase; padding:11.5px; margin:.5em 0 .5em .75em;}
  #home .headernav .menu-opener {display:none;}
  .menu .menu-closer, .menu .js-drawer-toggle {background:#003151; color:#FFF; display:block; height:20px; padding:16px 1em 16px 10px; text-align:right;}

  /* PUSH MENU BEHAVIORS & STYLES */
  body {overflow-x: hidden;}
  .mask {position: fixed; display:block; top: 0; left: 0; z-index:1005; width: 100%; height: 100%; background:#000; background: rgba(0, 0, 0, 0.7);}
  #section, #menutitle, #occlogo, .headernav {position: relative; z-index: 10; top: 0; left: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
  .pushmenu {z-index:99999999999; width: 280px; height: 100%; top: 0; left: -280px /*starts off canvas */ }
  body.pushmenu-is-open .pushmenu {left: 0;}
  body.pushmenu-is-open #section, body.pushmenu-is-open .headernav, body.pushmenu-is-open #occlogo, body.pushmenu-is-open #menutitle {position:relative; left:290px;}
  .menu {background:#000; position: fixed; z-index:1006; overflow: auto; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
  .menu .ekflexmenu_submenu_items_hidden {display:block;} /* show entire ektron menu */
  .menu li {line-height:2.5; border-top:1px solid #888;}
  .menu li li {border-top:1px dashed #222;}
  .menu ul a {background:transparent; color:#fff;}
  #menutitle {margin-left:.25em;}
}

@media all and (max-width:595px){
  .headernav div {display:inline-block; float:none;}
  .headernav .formbox {width:71%;}
  .headernav form {min-width:10px; display:inline-block;}
  .headernav .searchbox {width:65%;}

  .toolbar ul, .peoplesearch, .needtoknow {font-size:1.1em;}
  .toolbar ul, .toolbar .annotated, .toolbar .peoplesearch {display:block; width:100%;}
  .toolbar li {line-height:2.25;}

  .peoplesearch a {margin-top:.25em;}
  #peoplesearchbox {width:70%;}
  
   /* only show the mobile instance of this content */
  .js-drawer-set {display:none;}
  .mobile-content {display:block;}
  .mobile-content .js-drawer-set {display:block;}
  /* reveal the menu-opener */
  #home .headernav .menu-opener {display:inline-block;}
  /* js-drawer-content is positione off screen */
  .mobile-content .js-drawer-content {display:none; position:fixed; overflow-y:auto; overflow-x:hidden; height:80%; background:#121212; width:280px; top:53px; left:-280px;padding-bottom:100px;}
  .mobile-content .opened .js-drawer-content {left:0;display:block;}
  .menu .js-drawer-toggle {text-align:left; background:#000; border-bottom:1px solid #222;}
  .menu h4.js-drawer-toggle:before {content:"\25C2"; margin-right:10px;}
  .mobile-content .js-drawer li {margin-bottom:0;}
  .mobile-content .js-drawer-content h4 {color:#FFF; padding-left:.5em; text-transform:uppercase; font-size:1em; background:#444;}
  .mobile-content .js-drawer-content strong {color:#FFF; display:block; padding-left:.5em; background:#222;}
  .mobile-content .category li {font-size:1em;}
  .mobile-content .js-drawer-content li {border-top-style:dashed; border-color:#222;}
}
